<!DOCTYPE html>
<html lang="en">

<head>
    <title>Juegos pal viernes patrocinados por el Atlas</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/style.css"/>
    <link rel="icon" type="image/png" href="/resources/favicon.png"/>
</head>

<body>
<div class="content-wrapper">
    <h1>Skribol</h1>
    <h2>Vamo a crear la sala mi loco</h2>

    <div class="center-container">
        <div class="content-container">
            {{if .Errors}}
                <div class="error-list">
                    Your input contains invalid data:
                    <ul>
                        {{range .Errors}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <br/>
                    Fix the input and try again.
                </div>

            {{end}}
            <form id="lobby-create" class="input-container" action="/ssrCreateLobby" method="POST">
                <b>Lenguaje pal lobby (la neta puro spanish)</b>
                <select class="input-item" name="language" placeholder="Choose your language">
                    {{$language := .Language}}
                    {{range $k, $v := .Languages}}
                        <option value="{{$k}}" {{if eq $k $language}}selected="selected"{{end}}>{{$v}}</option>
                    {{end}}
                </select>
                <b>Tiempo para dibujar</b>
                <input class="input-item" type="number" name="drawing_time" min="{{.MinDrawingTime}}"
                       max="{{.MaxDrawingTime}}" value="{{.DrawingTime}}"/>
                <b>Rondas</b>
                <input class="input-item" type="number" name="rounds" min="{{.MinRounds}}" max="{{.MaxRounds}}"
                       value="{{.Rounds}}"/>
                <b>Jugadores Maximos</b>
                <input class="input-item" type="number" name="max_players" min="{{.MinMaxPlayers}}"
                       max="{{.MaxMaxPlayers}}" value="{{.MaxPlayers}}"/>
                <b>Palabras Custom</b>
                <textarea class="input-item" name="custom_words"
                          placeholder="Enter your additional words, seperating them by commas">{{.CustomWords}}</textarea>
                <b>Probabilidad de palabra custom</b>
                <input type="range" name="custom_words_chance" min="1" max="100" value="{{.CustomWordsChance}}">
                <b>Limite de IPs</b>
                <input class="input-item" type="number" name="clients_per_ip_limit" min="{{.MinClientsPerIPLimit}}"
                       max="{{.MaxClientsPerIPLimit}}" value="{{.ClientsPerIPLimit}}"/>
                <b>Kickvote</b>
                <input class="input-item" type="checkbox" name="enable_votekick" value="true"
                       checked="{{.EnableVotekick}}"/>
                <button type="submit" form="lobby-create" style="grid-column-start: 1; grid-column-end: 3;">Abrir Sala
                </button>
            </form>
        </div>
    </div>
</div>

{{template "footer"}}
</body>

</html>
